#important pre {
    margin-block: 0;
    max-width: 100%;
}

#important code {
    background-color: var(--background);
    border-left: 4px solid var(--color);
    box-shadow: none;
    color: var(--on-surface);
    overflow: auto;
    padding-inline: 20px;
}

#important pre,
#important code>*,
#important code .token {
    background-color: transparent;
}

#important code.p,
#important code .comment {
    white-space: normal;
}

#important pre:after,
#important pre:before {
    box-shadow: 0 10px 10px #00000050;
}

#important pre code {
    display: block;
}